<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body>
    <%- include ('partials/header.html') %>
    <section class="recommend2" id="ventas">
        <%- include ('partials/filter.html') %>
        <div class="card-div">
            <div class="cards">
                <!-- inicio carta -->
                <div class="card all depto bel">
                    <a href="/3-de-febrero-alquiler">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>3 De Febrero 1000</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/3DF/01.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER TEMPORARIO</h1>
                            <pre>
                            <h3>2 AMBIENTES 
    BALCON
    45 M2
    MUY LUMINOSO
    1 BAÑO
    COCINA INDEPENDIENTE</h3>
                        </pre>
                        </div>
                    </div>
                </a>
                </div>
                <!-- inicio carta -->
                <div class="card all depto">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>DEPARTAMENTO MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all local">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>LOCAL EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all office" id="office">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>OFICINAS EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all batch" id="batch">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>LOTE EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all garage" id="garage">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>COCHERA EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all ph" id="ph">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>PH EN EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all beach" id="beach">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>CASA EN LA COSTA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
            </div>
    </section>
<%- include ('partials/footer.html') %>
    <script src="./js/filter.js"></script>
    <!-- <script src="./assets/js/scroll.js"></script> -->
</body>

</html>