<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>ARAOZ AL 1381 - ALQUILER TEMPORARIO DEPARTAMENTO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/01.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/02.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/03.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/04.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/05.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/06.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/07.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/08.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/09.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/10.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/11.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/12.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/13.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/14.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/15.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/16.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/17.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/18.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/19.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/20.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Araoz1381Dpto/21.JPG" alt="" class="slider-img">
                    </div>
                    <!-- -->
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Hermoso dos ambientes c/balcon, terraza, patio y parrilla </h3>
                    <h3 class="body-text">
                        ALQUILER TEMPORARIO.
LA UNIDAD SE ALQUILA COMPLETAMENTE EQUIPADA, EL VALOR DE ALQUILER INCLUYE TODOS LOS GASTOS DE IMPUESTOS SERVICIOS Y EXPENSAS. 

Hermoso y amplio dos ambientes con balcón terraza, patio y parrilla.
El mismo consta de un amplísimo living comedor con cocina integrada y salida al balcón terraza con parrilla; dormitorio con placard incorporado y salida al patio; baño completo con bañera. Excelente luminosidad y circulación de aire.
Excelente ubicación, cercanía a facultades, zona Outlet y gran cantidad de medios de transportes.  a cien metros de Av. Scalabrini Ortiz, a doscientos metros de Av. Córdoba, a trescientos metros de Plaza Armenia, a metros de zona Outlet, acceso directo a diversas universidades e innumerables medios de transporte.

                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag"> Alquiler Temporario</p>
                </div>
                <div class="prices">
                    <h3 class="price"> $- por noche </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Sin Expensas </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-maximize"></i></span>Metros
                                totales: 90 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 45 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 2 ambientes </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 1 Baño completo </li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span> 5 años de antiguedad </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.439195817539!2d-58.42851384866386!3d-34.59305406434625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca79ac6f7899%3A0xbd0ea49843d154f7!2sAr%C3%A1oz%201381%2C%20C1414DQA%20CABA!5e0!3m2!1ses-419!2sar!4v1661889999121!5m2!1ses-419!2sar"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>
