<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>AV. SAN PEDRITO 297 - VENTA DEPARTAMENTO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 01.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 02.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 03.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 04.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 05.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 06.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 07.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 08.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 09.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 10.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 11.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 12.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 13.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 14.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 15.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/SanPedrito/San Pedrito 200 16.jpg" alt="" class="slider-img">
                    </div>
                    <!-- -->
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> EXCELENTE DEPARTAMENTO DE 3 AMB CON DEPENDENCIA Y BALCÓN ¡¡¡SOL TODO EL DÍA!!! </h3>
                    <h3 class="body-text">
                        Excelente departamento de 3 ambientes con dependencia de servicio y balcón ¡¡¡SOL TODO EL DÍA!!!
La unidad consta de un cómodo living comedor, dependencia de servicio, dormitorio principal con
placard incorporado, dormitorio secundario con salida al balcón, baño completo con bañera, funcional
cocina, y lavadero independiente. La unidad se destaca por tener todos los ambientes con aberturas al
exterior lo que brinda una excelente luminosidad y circulación de aire.
Privilegiada ubicación a metros Juan Buatista Alberdi, a cien metros de Av. Directorio, a doscientos
metros de Av. Rivadavia, a metros de Subte “A” y gran cantidad de medios de transportes.
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S 105.000 </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Expensas $7.000 </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-maximize"></i></span>Metros
                                totales: 64.16 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 62 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 3 ambientes </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 2
                                Baños</li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-calendar-days"></i></span>45 Años de antiguedad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.803096535196!2d-58.470358648663!3d-34.63441586653505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc98664b9834d%3A0x10fb794dc0780ebf!2sAv.%20San%20Pedrito%20297%2C%20C1406EXC%20CABA!5e0!3m2!1ses-419!2sar!4v1661812091029!5m2!1ses-419!2sar"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>