<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>CACHIMAYO AL 1840 - VENTA DOS UNIDADES EN BLOCK</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/01.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/02.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/03.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/04.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/05.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/06.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/07.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/08.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/09.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/10.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/11.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/12.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/13.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/14.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/15.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/16.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/17.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/18.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/19.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/20.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/21.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Cachimayo/22.jpeg" alt="" class="slider-img">
                    </div>
                    <!-- -->
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> ¡¡¡OPORTUNIDA!!! Venta en block de dos unidades al frente con entrada independiente ¡¡¡SIN EXPENSAS!!! </h3>
                    <h3 class="body-text">
                        La unidad de planta baja consta de dos ambientes, baño y cocina. 
La unidad de planta alta se desarrolla en dúplex y consta de cuatro ambientes cocina, lavadero, baño completo con bañera, depósito, balcón corrido y terraza con parrilla. 
Las dos unidades poseen aberturas al exterior lo que brinda una excelente luminosidad y circulación de aire. 
Las unidades se pueden integrar. 
Las superficies son aproximadas. 
Muy buena ubicación a cien metros de Av. Cobo, doscientos metros de Av. José María Moreno, a trescientos metros de Av. Castañares, a cuatrocientos metros de Av. Asamblea, a quinientos metros de Av. Curapaligue, a ochocientos metros de Av. La Plata, a diez cuadras de Av. Directorio, a quinientos metros del Parque Chacabuco, novecientos metros de Subte “E” y gran cantidad de medios de transportes. 
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S 185.000 </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Sin Expensas </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-maximize"></i></span>Metros
                                totales: 200 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 150 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> Planta baja: 2 ambientes </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> Planta baja: 1 Baño </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> Planta alta: 4 ambientes </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> Planta alta: 1 Baño completo </li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span> 50 años de antiguedad </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.5667736144883!2d-58.43654724368469!3d-34.64038671220865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbb7286b7a3b%3A0xe02eb371839418d1!2sCachimayo%201840%2C%20C1424ARX%20CABA!5e0!3m2!1ses-419!2sar!4v1661881050384!5m2!1ses-419!2sar" 
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>