<DOCTYPE html>
    <html lang="en">
        <%- include ('partials/head.html') %>
    <body class="body">
        <%- include ('partials/header.html') %>
        <%- include ('partials/slider-fullscreen.html') %>
        <div class="shadow"></div>
        <section class="first-part">
            <div class="title-ficha">
                <p>CAMARGO AL 1072 - ALQUILER DEPARTAMENTO</p>
            </div>
            <div class="container">
                <div class="slideshow">
                    <div class="slider" id="slider">
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/01.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/02.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/03.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/04.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/05.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/06.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/07.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/08.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/09.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/10.JPG" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link">
                            <img src="./img/Camargo1072/11.JPG" alt="" class="slider-img">
                        </div>
                        <!-- -->
                    </div>
                    <button class="slider-btn slider-btn-right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                    <button class="slider-btn slider-btn-left">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
            </div>
        </section>
        <div class="container-block">
            <div class="text-block">
                <div class="text-descrip">
                    <div class="text-descrip-title">
                        <h3 class="descrip-title"> Descripcion </h3>
                    </div>
                    <div class="text-descrip-body">
                        <h3 class="body-text-title"> Cómodo tres ambientes  ¡bajas expensas! </h3>
                        <h3 class="body-text">
                            LLa unidad consta de un funcional living comedor con cocina integrada mediante barra desayunadora, cocina completa con mobiliario de bajo mesada y alacenas, lavadero independiente, baño completo y dormitorios con placard incorporado. 
                            Todos los ambientes poseen aberturas al exterior lo que brinda una muy buena luminosidad y circulación de aire. 
                            El departamento se encuentra en un segundo piso por escalera.
                            Excelente ubicación, a metros de Av. Juan B. Justo, a cien metros de Av. Corrientes, a cuatrocientos metros de Av. Scalabrini Ortiz, cuatrocientos metros de Av. Dorrego, cuatrocientos metros de Av. Warnes, quinientos metros de Av. Honorio Pueyrredón, setecientos metros de Av. Córdoba, a metros de Metrobus, Subte “B” y gran cantidad de medios de transportes.                            
                        </h3>
                    </div>
                </div>
            </div>
            <div class="texto-info">
                <div class="all-info">
                    <div class="tags">
                        <p class="tag">Alquiler</p>
                    </div>
                    <div class="prices">
                        <h3 class="price"> $ - </h3>
                    </div>
                    <div class="expenses">
                        <h3 class="expense"> Expensas $8.000 aprox </h3>
                    </div>
                    <div class="contacs">
                        <a href="">
                            <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                        </a>
                    </div>
                    <div class="logos">
                        <div class="logo">
                            <ul class="fa-ul logo-list">
                                <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-maximize"></i></span>Metros
                                    totales: 45 m² </li>
                                <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-expand"></i></span>Metros
                                    cubiertos: 45 m² </li>
                                <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 3 ambientes </li>
                                <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 1 Baño completo </li>
                                <!-- <li class="logo-list-item"><span class="fa-li"><i
                                                            class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                                <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span> 60 años de antiguedad </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="map-container">
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.3262003672835!2d-58.44755474866406!3d-34.59591206449726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca0a0775eb47%3A0xe7415dc4ec208052!2sCamargo%201072%2C%20C1414AHV%20CABA!5e0!3m2!1ses-419!2sar!4v1661898808063!5m2!1ses-419!2sar"
                    class="map" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
        <script src="./js/slider.js"></script>
        <script src="./js/fullscreenSlider.js"></script>
        <%- include ('partials/footer.html') %>
    </body>
</html>