<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>CASTILLO AL 549 - ALQUILER DEPARTAMENTO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/01.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/02.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/03.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/04.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/05.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/06.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/07.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/08.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/09.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/10.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Castillo/11.jpg" alt="" class="slider-img">
                    </div>
                    <!-- -->
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Cómodo dos ambientes con vista abierta ¡¡¡MUY LUMINOSO!!! </h3>
                    <h3 class="body-text">
                        La unidad consta de living comedor, amplio dormitorio, baño completo con bañera, cocina con mobiliario de bajo mesada, alacenas y conexión para lavarropas.
Todos los ambientes poseen aberturas al exterior lo que brinda una excelente luminosidad y circulación de aire. 
Muy buena ubicación a metros de Av. Scalabrini Ortiz, a trescientos metros de Av. Córdoba, a quinientos metros de Av. Corrientes / Av. Juan B. Justo, a metros de Subte “B”, Metro Bus e innumerables medios de transportes.
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag"> Alquiler </p>
                </div>
                <div class="prices">
                    <h3 class="price"> $ - </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Expensas $ 4.000 </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-maximize"></i></span>Metros
                                totales: 35 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 35 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 2 ambientes </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 1 Baño completo </li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span> 50 años de antiguedad </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.364630807636!2d-58.43681444866401!3d-34.59494006444595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca75d6a2c4b9%3A0x8a4833ba4caf5e37!2sCastillo%20549%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1661979104803!5m2!1ses-419!2sar"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>