<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p> Soy un titulo </p>
        </div>
        <div class="container">
            <div class="container-slideshows">
                <div class="slideshow">
                    <div class="slider" id="slider">
                        <div class="slider-section img-link" id="slide1">
                            <img src="./assets/img/depto1.jpg" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link" id="slide2">
                            <img src="./assets/img/depto2.jpg" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link" id="slide3">
                            <img src="./assets/img/depto3.jpg" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link" id="slide4">
                            <img src="./assets/img/depto4.png" alt="" class="slider-img">
                        </div>
                        <div class="slider-section img-link" id="slide5">
                            <img src="./assets/img/depto5.jpg" alt="" class="slider-img">
                        </div>
                    </div>
                    <button class="slider-btn slider-btn-right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                    <button class="slider-btn slider-btn-left">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
            </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Amplio departamento 3 ambientes en Villa Del Parque </h3>
                    <h3 class="body-text">
                        Hermoso departamento 3 ambientes muy luminoso, living amplio con salida al balcon. La cocina
                        es completa integrada con muebles alto y bajo mesada, calefon, posee un gran ventanal que
                        asfasfasg Hermoso departamento 3 ambientes muy luminoso, living amplio con salida al balcon.
                        La cocina es completa integrada con muebles alto y bajo mesada, calefon, posee un gran
                        ventanal que
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut incidunt doloribus quasi odio
                        magni excepturi, dignissimos velit asperiores quis quod a aliquid eum nostrum fuga odit
                        voluptatum expedita aliquam. Qui.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi minima accusamus dolores,
                        explicabo eligendi quibusdam fugit neque nobis laborum officiis, quia eum consectetur magni
                        provident libero reprehenderit iste beatae eius.
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">En Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> USD 45.000 </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> + $3.500 expensas </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-maximize"></i></span>Metros
                                totales: 32 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 29 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-bed"></i></span>3
                                Ambientes</li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-bath"></i></span>1
                                Baño </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-warehouse"></i></span>Cochera </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-calendar-days"></i></span>5 Años de antiguedad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.030934498992!2d-58.541464248663736!3d-34.603379264892446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7eccf9296ab%3A0x1a9e57ad18043391!2sInt.%20Ram%C3%B3n%20Land%C3%ADn%203143%2C%20B1676CBE%20Santos%20Lugares%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1660784471971!5m2!1ses-419!2sar"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>

</html>