<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body>
    <section class="showcase">
    <%- include ('partials/header.html') %>
    <%- include ('partials/home.html') %>
    </section>
    <section class="recommend" id="venta">
        <div class="title">
            <h1>TE PUEDE <span class="orange-b">INTERESAR</span></h1>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-gral">
                    <div class="card-head">
                        <h1>CASA MAR DEL PLATA</h1>
                    </div>
                    <div class="card-image">
                        <img src="./img/14.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h1>VENTA</h1>
                        <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-gral">
                    <div class="card-head">
                        <h1>CASA MAR DEL PLATA</h1>
                    </div>
                    <div class="card-image">
                        <img src="./img/14.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h1>VENTA</h1>
                        <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-gral">
                    <div class="card-head">
                        <h1>CASA MAR DEL PLATA</h1>
                    </div>
                    <div class="card-image">
                        <img src="./img/14.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h1>VENTA</h1>
                        <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <%- include ('partials/footer.html') %>
    <script src="./js/scroll.js"></script>
</body>
</html>