<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>NEUQUEN AL 2573 - ALQUILER DEPARTAMENTO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/01.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/02.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/03.jpg" alt="" class="slider-img">
                    </div>  
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/04.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/05.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/06.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/07.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/08.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/09.jpg" alt="" class="slider-img">
                    </div>  
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/10.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/11.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/12.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/13.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/14.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/15.jpg" alt="" class="slider-img">
                    </div>  
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/16.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/17.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/18.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/19.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/20.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarcosSastre/21.jpg" alt="" class="slider-img">
                    </div>
                    <!-- -->
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Hermoso semipiso de 3 ambientes al contrafrente con balcón. </h3>
                    <h3 class="body-text">
                        La unidad posee amplio living comedor, dos cómodos dormitorios con placard incorporado, hall de distribución con sector de guardado, baño completo con hidromasaje, toilette de recepción, espaciosa cocina con lavadero incorporados y balcón con vista abierta. 
Todos los ambientes cuentan con aire acondicionado, estufas tiro balanceado y aberturas al exterior lo que brinda una muy buena luminosidad y circulación de aire. 
Excelente ubicación, a una cuadra de Av. Nazca, a cuatrocientos metros de Plaza Aristobulo del Valle, a seiscientos metros de Av. Álvarez Jonte, a quinientos metros de Agronomía, a seiscientos metros de estación Villa del Parque y gran cantidad de medios de transportes.
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag"> Alquiler </p>
                </div>
                <div class="prices">
                    <h3 class="price"> $ - </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Expensas $ - </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-maximize"></i></span>Metros
                                totales: 68 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 65 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 3 ambientes </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 1 Baño completo </li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span> - años de antiguedad </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0640534597073!2d-58.48860014866379!3d-34.602541764848155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb62202f17eb1%3A0xaf680dda8b279a01!2sMarcos%20Sastre%202740%2C%20C1417%20FYD%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1661983141518!5m2!1ses-419!2sar"                
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>