<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body>
    <section class="showcase">
    <%- include ('partials/header.html') %>
    <%- include ('partials/home-quienes.html') %>
    </section>
    <section class="recommend" id="venta">
        <div class="title">
            <h1>TE PUEDE <span class="orange-b">INTERESAR</span></h1>
        </div>
        <div class="cards-master">
            <div class="card-gral">
                <div class="card-head">
                    <h1>3 De Febrero 1000</h1>
                </div>
                <div class="card-image">
                    <img src="./img/3DF/01.jpg" alt="">
                </div>
                <div class="card-body">
                    <h1>ALQUILER TEMPORARIO</h1>
                    <div class="card-text">
                        <h4>2 AMBIENTES</h4>
                        <h4>BALCON</h4>
                        <h4>45 M2</h4>
                        <h4>1 BAÑO</h4>
                        <h4>COCINA INDEPENDIENTE</h4>
                        <h4>MUY LUMINOSO!</h4>
                    </div>
                </div>
            </div>
            <div class="card-gral">
                <div class="card-head">
                    <h1>3 De Febrero 1000</h1>
                </div>
                <div class="card-image">
                    <img src="./img/3DF/01.jpg" alt="">
                </div>
                <div class="card-body">
                    <h1>ALQUILER TEMPORARIO</h1>
                    <div class="card-text">
                        <h4>2 AMBIENTES</h4>
                        <h4>BALCON</h4>
                        <h4>45 M2</h4>
                        <h4>1 BAÑO</h4>
                        <h4>COCINA INDEPENDIENTE</h4>
                        <h4>MUY LUMINOSO!</h4>
                    </div>
                </div>
            </div>
            <div class="card-gral">
                <div class="card-head">
                    <h1>3 De Febrero 1000</h1>
                </div>
                <div class="card-image">
                    <img src="./img/3DF/01.jpg" alt="">
                </div>
                <div class="card-body">
                    <h1>ALQUILER TEMPORARIO</h1>
                    <div class="card-text">
                        <h4>2 AMBIENTES</h4>
                        <h4>BALCON</h4>
                        <h4>45 M2</h4>
                        <h4>1 BAÑO</h4>
                        <h4>COCINA INDEPENDIENTE</h4>
                        <h4>MUY LUMINOSO!</h4>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <%- include ('partials/footer.html') %>
    <script src="./js/scroll.js"></script>
</body>
</html>