<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body>
    <%- include ('partials/header.html') %>
    <section class="recommend2" id="ventas">
    <%- include ('partials/filter.html') %>
        <div class="card-div">
            <div class="cards">
                <!-- inicio carta -->
                <div class="card all houses vdp" id="houses">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>CASA VDP</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all houses palermo">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>CASA PALERMO</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all depto vdp">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>DEPARTAMENTO VDP</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all depto palermo">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>DEPARTAMENTO PALERMO</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all depto ql">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>DEPARTAMENTO PALERMO</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all depto mdq">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>DEPARTAMENTO PALERMO</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all local">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>LOCAL EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all local" id="local">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>LOCAL EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all office" id="office">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>OFICINAS EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all office" id="office">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>OFICINAS EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all batch" id="batch">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>LOTE EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all batch" id="batch">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>LOTE EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all garage" id="garage">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>COCHERA EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all garage" id="garage">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>COCHERA EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all ph" id="ph">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>PH EN EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all ph" id="ph">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>PH EN EN MAR DEL PLATA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all beach" id="beach">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>CASA EN LA COSTA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- inicio carta -->
                <div class="card all beach" id="beach">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>CASA EN LA COSTA</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/14.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>VENTA</h1>
                            <pre>
                            <h4>3 AMBIENTES 
    BALCON
    62M2</h3>
                        </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include ('partials/footer.html') %>
    <script src="./js/filter.js"></script>
    <!-- <script src="./assets/js/scroll.js"></script> -->
</body>

</html>