@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    background: rgba(248, 242, 242, 0.726);}

:root {
    --theme-color: rgb(228, 228, 228);
    --soraci-color: rgb(255, 102, 0);
    --secundary-color: rgb(255, 154, 87);
    --text-color-inverse: white;
    --text-color: black;
    --grey: #b8b8b8;
    --text-secundary: #3b4469;
    --shadow: 0 0 13px rgba(185,185,185,  .25);
    --color-grey: #e7e7e7;
}

.bg {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/3597628.jpg)
}

.showcase {
    position: static;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: white;
    z-index: 2;
}

.showcase header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('./assets/img/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.showcase .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 42%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(242, 90, 2, 0.2);
    mix-blend-mode: overlay;
}

.overlay-quienes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.text {
    position: relative;
    margin: 0 auto;
}

.text h2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 102, 0);
}
.text h3 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 102, 0);
}
.text h4 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 102, 0, 0.5);
    margin-bottom: 10px;
}
.text input {
    margin: 20px;
    padding: 15px;
    width: 350px;
    border-radius: 15px;
    color:rgb(0, 0, 0);
    font-size: 1em;
    box-shadow: 1px 1px 3px rgb(255, 102, 0);
}

.text img {
    opacity: 0.85;
    width: 100%;
}

.header {
    height: 70px;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s all ease-in-out;
}

.navBg {
    background-color: rgba(192, 192, 192, 0.63);
    transition: 0.5s all ease-in-out;
    color: rgb(0, 0, 0);
}

.navMenu a{
    font-weight: 700;
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
    transition: 0.5s all ease-in-out;
}

.nav {
    position: relative;
    max-width: 1200px;
    display: flex;
}
.nav-home {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    padding: 0 50px;
}

.nav-home:hover {
    color:white;
}

.nav-menu {
    display: flex;
    margin-left: 30px;
    list-style: none;
}

.nav-menu-visible {
    left: 0;
}

.nav-menu-item {
    font-size: 1.15em;
    font-weight: 500;
    line-height: 1em;
    width: max-content;
    margin: 25px 30px;
    text-transform: uppercase;
}

.nav-menu-link{
    font-weight: 700;
    color: rgb(235, 235, 235);
    text-shadow: 2px 2px 3px rgba(255, 102, 0, 0.733);
    transition: 0.5s all ease-in-out;
}
.nav-menu-link:hover, .nav-menu-link_active{
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
}

.nav-button {
    color:white;
    background: none;
    border: none;
    font-size: 20px;
    line-height: 70px;
    cursor: pointer;
    display: none;
}

/* Recomendado */


.recommend2 {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* card */

.cards {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;   
}

.cards-master {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;   
    margin-bottom: 50px;
    cursor:default;
}

.card {
    width: 300px;
    display: flex;
}

.card-index {
    width: 300px;
    display: flex;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(102, 102, 102);
    padding-bottom: 20px;
    padding-top: 20px
}

.card-text2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color:rgb(102, 102, 102);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.title{
    padding: 20px;
    position: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 123, 0);
}

.card-gral {
    width: 300px;
    transition: 0.3s all ease-in-out;
    box-shadow: 1px 1px 10px rgba(17, 17, 17, 0.185);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.card-master {
    background-color: white;
    width: 300px;
    height: 100%;
    transition: 0.3s all ease-in-out;
    box-shadow: 1px 1px 10px rgba(17, 17, 17, 0.185);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.card-master:hover {
    box-shadow: 5px 5px 15px rgba(17, 17, 17, 0.329);
    transition: 0.3s all ease-in-out;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.card-gral:hover {
    box-shadow: 5px 5px 15px rgba(17, 17, 17, 0.329);
    transition: 0.3s all ease-in-out;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.card-head, .cards-head {
    width: 300px;
    height: 75px;
    margin: auto;
    background-color: rgb(241, 241, 241);
    color: rgb(255, 102, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-image img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
}

.card-image img:hover {
    width: 300px;
    height: 250px;
    transition: 0.3s all ease-in-out;
}

.cards-image img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
}

.cards-image img:hover {
    width: 300px;
    height: 250px;
    transition: 0.3s all ease-in-out;
}

.card-body, .cards-body {
    background-color: white;
    width: 300px;
    text-align: center;
    object-fit: cover;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.card-body > h1 {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 250, 241);
    text-shadow: 1px 1px 1px rgba(228, 83, 0, 0.664);
}
/* Filtro */

.filter {
    width: 250px;
    height: max-content;
    left: 0;
    background: rgb(228, 228, 228);;
    margin-left: 30px;
}

.filter-gral{
    width: 250px;
    height: max-content;
}

.filter-head {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: rgb(217, 217, 217);
    letter-spacing: 1px;
}

.filter-menu { 
    color: var(--text-color);
    height: 100%;
    width: 100%;
    list-style: none;
    text-align: center;
}

.filter-zone {
    color: var(--text-color);
    height: 100%;
    width: 100%;
    list-style: none;
    text-align: center;
}

.filter-menu-item {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.filter-menu-zone {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.filter-zone-item {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    transition: 0.3s all ease-in-out;
}

.sub-menu {
    list-style: none;
    position: absolute;
    left: 247px;
    width: 250px;
    height: 300px;
    top: 0;
    display: none;
    background: rgb(228, 228, 228);
    border-left: 2px solid transparent;
    border-left-color: rgb(194, 187, 187);
    overflow: auto;
    transition: 0.3s all ease-in-out;
}

.dropdown {
    position: relative;
    transition: 0.3s all ease-in-out;
}

.dropdown:hover ul {
    display: initial;
    transition: 0.3s all ease-in-out;
}

.filter-menu-item:hover {
    color: var(--soraci-color);
    background: #c7c7c7;
    border-left-color: var(--soraci-color);
    transition: 0.3s all ease-in-out;
}

.filter-zone-item:hover {
    color: var(--soraci-color);
    background: #c7c7c7;
    border-left-color: var(--soraci-color);
    transition: 0.3s all ease-in-out;
}

.filter-menu-zone:hover {
    color: var(--soraci-color);
    background: #c7c7c7;
    border-left-color: var(--soraci-color);
    transition: 0.3s all ease-in-out;
}

.filter-none {
    display: none;
}

.filter-zone-none {
    display: none;
}

.filter-active {
    color: var(--soraci-color);
    background: #c7c7c7;
    border-left-color: var(--soraci-color);
}

/* Footer */

footer {
    background-color: rgb(0, 0, 0);
}

.footer-body {
    width: 100%;
    height: 100%;
    color: white;
}

.nav-footer-item {
    font-size: 1.15em;
    font-weight: 500;
    line-height: 1em;
    width: max-content;
    margin: 25px 30px;
    text-transform: uppercase;
}

.nav-footer {
    list-style: none;
    display: flex;
}

.footer-header {
    padding: 20px;
}

/* Color Span */

.s-w {
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px 3px rgb(255, 255, 255)
}
.s-b {
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px 3px rgb(0, 0, 0)
}

.s {
    color: rgb(255, 102, 0);
}

.w-orange {
    color: white;
    text-shadow: 1px 1px 3px rgb(255, 102, 0);
}

.b-orange {
    color: #111;
    text-shadow: 1px 1px 3px rgb(255, 102, 0);
}
.orange-b {
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

