<div class="filter">
    <div class="filter-gral">
        <div class="filter-head">
            <h3>FILTRAR POR <span>&rsaquo;</span></h3>
        </div>
        <div class="filter-body">
            <ul>
                <div class="filter-menu">
                  <li class="filter-menu-item filter-zone-item filter-active" id="all">Ver Todos</li>
                </div>
                <div class="filter-zone">
                    <li class="filter-menu-zone dropdown"> Zonas
                        <ul class="sub-menu">
                            <li class="filter-zone-item" id="bel">Belgrano</li>
                            <li class="filter-zone-item" id="vdp">Villa del Parque</li>
                            <li class="filter-zone-item" id="palermo">Palermo</li>
                            <li class="filter-zone-item" id="dv">Devoto</li>
                            <li class="filter-zone-item" id="vc">Villa Crespo</li>
                            <li class="filter-zone-item" id="beach">Playa</li>
                            <li class="filter-zone-item" id="caballito">Caballito</li>
                            <li class="filter-zone-item" id="ql">Quilmes</li>
                            <li class="filter-zone-item" id="11">Once</li>
                        </ul>
                        <span>&rsaquo;</span>
                    </li>
                </div>
                <div class="filter-menu">
                     <li class="filter-menu-item" id="houses">Casas</li>
                </div>
                <div class="filter-menu">
                    <li class="filter-menu-item" id="dpto">Departamentos</li>
                </div>
                <div class="filter-menu">
                    <li class="filter-menu-item" id="local">Locales</li>
                </div>
                <div class="filter-menu">
                    <li class="filter-menu-item" id="office">Oficinas</li>
                </div>
                <div class="filter-menu">
                    <li class="filter-menu-item" id="batch">Lotes</li>
                </div>
                <div class="filter-menu">
                    <li class="filter-menu-item" id="garage">Cocheras</li>
                </div>
                <div class="filter-menu">
                    <li class="filter-menu-item" id="ph">PH</li>
                </div>
            </ul>
        </div>
    </div>
</div>