<div class="bg"></div>
<footer class="footer">
        <div class="footer-body">
                <div class="footer-header">
            <h1 class="logo"><span style="color: rgb(255, 102, 0);">Soraci </span><span
                    style="text-shadow: 1px 1px 1px rgb(255, 102, 0);">Propiedades</span></h1>
        </div>
        <div class="footer-text">
            <ul class="nav-footer">
                <li class="nav-footer-item"><a href="#venta" class="nav-menu-link .nav-menu-link-active"
                        id="nav-link"> Inicio</a></li>
                <li class="nav-footer-item"><a href="../participantes" class="nav-menu-link .nav-menu-link-active">
                        Venta</a></li>
                <li class="nav-footer-item"><a href="../livestream" class="nav-menu-link .nav-menu-link-active">
                        Alquiler</a></li>
                <li class="nav-footer-item"><a href="../livestream" class="nav-menu-link .nav-menu-link-active">
                        Contacto</a></li>
                <li class="nav-footer-item"><a href="../livestream" class="nav-menu-link .nav-menu-link-active">
                        Quienes Somos</a></li>
            </ul>
        </div>
    </div>
</footer>