<header class="header navBg">
    <nav class="nav">
        <h2 class="logo nav-home"><span style="color: rgb(255, 102, 0);">Soraci </span><span style="text-shadow: 1px 1px 1px rgb(255, 102, 0);">Propiedades</span></h2>
        <button class="nav-button" aria-label="Abrir menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a href="/" class="nav-menu-link .nav-menu-link-active"id="nav-link"> Inicio</a></li>
            <li class="nav-menu-item"><a href="/ventas" class="nav-menu-link .nav-menu-link-active">Venta</a></li>
            <li class="nav-menu-item"><a href="/alquiler" class="nav-menu-link .nav-menu-link-active">Alquiler</a></li>
            <li class="nav-menu-item"><a href="/quienessomos" class="nav-menu-link .nav-menu-link-active">Quienes Somos</a></li>
        </ul>
    </nav>
</header>