<div class="bg"></div>
<!--     <img src="./img/3597628.jpg" class="bg" alt=""> -->
    <div class="overlay-quienes"></div>
    <div class="text">
        <h4>Soraci Propiedades es una empresa inmobiliaria abocada a la compra, venta y alquiler de bienes inmuebles. </h4>
        <h4>Con mas de 15 años en el rubro inmobiliario SORACI PROPIEDADES se destaca en el trato personalizado, la eficacia y el compromiso. Su titular, Soraci Lucas Manuel, acompaña a cada uno de sus clientes durante todo el proceso de compra venta o alquiler. Brindando un óptimo asesoramiento, adaptándose a los deseos y necesidades, lo ayuda a que usted pueda tomar la mejor decisión.</h4> 
        <h4>Martillero Público Responsable Soraci Lucas Manuel </h4>
        <h4>C.U.C.I.C.B.A 5848</h4>
        <h4>C.M.D Tomo III Folio 764 Mat. 1420</h4>
        <h2>UN <span class="s">LUGAR</span>,</h2>
        <h3>MIL SUEÑOS.</h3>
    </div>